/* About me style */
.personal-info__avatar {
  background-position: center;
  background-size: cover;
  background-image: url(../images/my-pic.png);
  margin-bottom: 10px;
}

.personal-info__avatar_border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid 3px;
  box-sizing: border-box;
  position: relative;
  object-fit: cover;
  overflow: hidden;
  border-radius: 100%;
}

.picture__overlay {
  background-color: rgba(0, 0, 0, .3);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 30px;
  box-sizing: border-box;
  opacity: 0;
  position: relative;
  border-radius: 100%;
}

.picture__overlay:hover {
  opacity: 1;
}

.personal-info__description {
  justify-content: center;
  max-width: 550px;
  margin: auto;
}

.personal-info_description_border {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border: black solid 2px;
  box-sizing: border-box;
  position: relative;
  border-radius: 4%;
}

@media (min-width: 0px ) and (max-width: 550px) {
  .personal-info__description {
    justify-content: center;
    width: 90%;
    margin: auto;
  }
}
