@media (min-width: 100px) {
  .countdown__text {
    color: red;
    font-size: 30px;
    margin: 0 0 20px;
    text-align: center;
    font-weight: bold;
  }
}

@media (min-width: 650px) {
  .countdown__text {
    color: red;
    font-size: 45px;
    margin: 0 0 20px;
    text-align: center;
    font-weight: bold;
  }
}
