/*Education style*/

.establishment {
  align-items: baseline;
  text-align: center;
}

.establishment__title {
  margin: 20px;
}

.establishment__logo:hover {
  transition: ease-in-out;
  transition-delay: 10ms;
  scale: 1.1;
}

.establishment__description {
  margin: 10px;
}

.establishment__year {
  font-size: 15px;
  font-style: italic;
}

@media (min-width: 0px) {
  .establishment__title {
    font-size: 20px;
  }
  .establishment__description {
    font-size: 13px;
  }
}

@media (min-width: 650px) {
  .establishment__title {
    font-size: 35px;
  }
  .establishment__description {
    font-size: 20px;
  }
}
