/*Footer style*/
.footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.footer__logo-box {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__logo {
  margin: auto;
}

.footer__logo:hover {
  transition: ease-in-out;
  transition-delay: 10ms;
  scale: 1.1;
}

.footer__top_text {
  font-size: 40px;
  margin: 0 0 10px;
  font-weight: bold;
}

.footer__bottom_text {
  font-style: italic;
  font-size: 20px;
  margin: 0 0 10px;
  font-weight: bold;
}

.footer__form-button {
  width: 92%;
  cursor: pointer;
  color: dodgerblue;
  text-decoration: underline;
}
