/*Skills style*/
.skill {
  align-items: baseline;
  text-align: center;
}

.skill__logo {
  margin-bottom: 25px;
}

.skill__logo:hover {
  transition: ease-in-out;
  transition-delay: 10ms;
  scale: 1.1;
}

.skill__description {
  max-width: 250px;
}
